* {
  scroll-behavior: smooth;
  margin: 0px;
}

.app {
  background-color: #ffffff;
}

.title {
  font-size: 3rem !important;
  font-weight: 600;
  font-family: "Creepster", sans-serif;
}

.recipe-cards {
  background-color: #f4efd7;
}

.ingredient-list {
  overflow-x: auto;
}

.ingredient-qty {
  text-align: right;
  max-width: 70px;
  min-width: 50px;
}

.ingredient-unit {
  text-align: left;
}

.delete-recipe {
  float: right;
}

.modal-create {
  position: fixed;
  max-width: none !important;
}

input {
  outline: none;
}

.input-ingredient {
  display: flex;
  flex-wrap: wrap;
}

input:focus {
  border: 2px solid grey;
}

textarea:focus {
  border: 2px solid grey;
}
